.container-fluid {
	font-family: 'Comfortaa', cursive;
	display: inline;
}
div {
	padding: 80px;
}
div.two {
	text-align: center;
}
.head {
	font-size: 54px;
}
p {
	font-size: 22px;
	padding: 5px;
}
.one,.three,.five {
	background-color: rgb(211,210,240);}
.four {background-color: white;}
.two {
	background-image: url(img/pexels-photo-min.jpeg);
    background-size: 1400px 450px;
    color: #fff;
    background-color: rgb(80,80,80);
    background-blend-mode: darken;
}
img {
	padding: 40px;
}
img.one {
	float: right;
	padding: 5px;
	border: 10px solid black;
	border-radius: 1000px;
	width: 100%;
}
img.two {
	float: left;
	width: 34%;
	height: 270px;
	padding: 10px;
	border: 10px solid rgb(100,150,240);
	border-radius: 0px 50px 0px 50px;
}
img.three {
	float: right;
	width: 44%;
	padding: 10px;
	border-radius: 50px 0px 50px 50px;
	border: 10px solid black;
}
img.five {
	padding: 10px;
	width: 293px;
	height: 310px;
	border: 1px solid #000;
}
img.six {
	padding: 10px;
	width: 293px;
	height: 310px;
	border: 1px solid #000;
}
img.seven {
	padding: 10px;
	width: 293px;
	height: 310px;
	border: 1px solid #000;
}